apiVersion: v1
kind: Service
metadata:
  name: xref-service
  labels:
    app: xref-service
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: grpc
  selector:
    app: xref-service
---
apiVersion: v1
kind: Service
metadata:
  name: xref-service-headless
  labels:
    app: xref-service
spec:
  clusterIP: None
  ports:
  - port: 9090
    name: grpc
  selector:
    app: xref-service